# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.db

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
local_settings.py
.env
.env.*

# Virtual environment
venv/
env/
.venv/
ENV/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Build / distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Static and media files (optional)
staticfiles/
