body {
  font-family: 'Poppins', sans-serif;
  background: #f7f7f7;
}

.container {
  max-width: 1440px;
  margin: 75px auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 60px 80px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* Top Bar */
.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.top-bar h1 {
  font-size: 32px;
  font-weight: 700;
  color: #00B207;
  margin-right: 300px;
}

.divider {
  margin: 30px 0 50px;
  border: 0;
  height: 1px;
  background: #ddd;
}

/* Stepper */
.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1;
  gap: 16px;
}

.step {
  text-align: center;
  flex-shrink: 0;
  min-width: 80px;
}

.step span {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  background: #ccc;
  color: white;
  margin-bottom: 5px;
}

.step.active span {
  background: #00B207;
}

.step p {
  font-size: 14px;
  color: #333;
  margin-top: 2px;
}

.line {
  height: 2px;
  width: 50px; 
  background: #ccc;
  margin: 0 10px;
  border-radius: 2px;
  flex-grow: 0;
  flex-shrink: 0;
}


.line.active {
  background: #00B207;
}

.divider {
  margin: 30px 0 50px;
  border: 0;
  height: 1px;
  background: #ddd;
}

.day-plan-wrapper {
  margin-bottom: 60px;
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-product-btn {
  background: none;
  border: 2px dashed #ccc;
  border-radius: 8px;
  font-size: 28px;
  color: #333;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.add-product-btn:hover {
  background: #e8f5e9;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table th, .product-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.product-table th {
  background: #555;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.product-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.quantity-input {
  width: 60px;
  padding: 5px;
}

.delete-btn {
  background: #ffffff;
  border: none;
  color: #ff0000;
  font-size: 18px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-btn:hover {
  background: #000000;
}

.total-section {
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #00B207;
}

.form-group.right {
  text-align: right;
  margin-top: 40px;
}

.proceed-btn {
  background: #00B207;
  color: white;
  padding: 14px 36px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.proceed-btn:hover {
  background: #000000;
}
